@import "~arcgis-js-api/themes/light/main.css";
$h1BGColor :rgb(230, 182, 182);

body{
    height: 100vh;
    width: 100vw;
}
h1{
    background-color: $h1BGColor;
    user-select: none;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }