@import "~arcgis-js-api/themes/light/main.css";
$h1BGColor :gray;

h1{
    background-color: $h1BGColor;
    user-select: none;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 500px;
    width: 500px;
  }